 /* Split the screen in half */
.split {
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding: 0px;
  cursor: pointer;
}

/* Control the left side */
.top {
  top: 0;
  background-color: #000;
}

/* Control the right side */
.bottom {
  bottom: 0;
  background-color: #fff;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}