:root{
  --bs-purple-rgb: 111,66,193;
  --bs-orange-rgb: 253,126,20;
  --bs-dark-purple-rgb: 139,0,139;
}
 /* Split the screen in half */
.split {
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding: 0px;
  cursor: pointer;
}

/* Control the left side */
.top {
  top: 0;
  background-color: #000;
}

/* Control the right side */
.bottom {
  bottom: 0;
  background-color: #fff;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a{
  text-decoration: none;
  color: initial;
}

div.pcentered {
margin:auto;
max-width: 500px;
height: 100vh;
}

.buy-sell{
  padding-left: 15%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

div.two-h{
  clear: both;
  display:inline-flex;
}

h4.two-h{
  float: inline-start;
}
h4.two-h1{
  float: left;
}
.two-h2{
  float: right;
}
span.two-h2{
  padding-top: 2px;
}
.text-purple{
  --bs-text-opacity: 1;
  color: rgba(var(--bs-purple-rgb),var(--bs-text-opacity)) !important;
}
.text-orange{
  --bs-text-opacity: 1;
  color: rgba(var(--bs-orange-rgb),var(--bs-text-opacity)) !important;
}
.text-dark-purple{
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-purple-rgb),var(--bs-text-opacity)) !important;
}
.btn-outline-purple{
  --bs-btn-color: rgb(var(--bs-purple-rgb));
  --bs-btn-border-color: rgb(var(--bs-purple-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--bs-purple-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-purple-rgb));
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(var(--bs-purple-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-purple-rgb));
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(var(--bs-purple-rgb));
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(var(--bs-purple-rgb));
  --bs-gradient: none;
}
.btn-outline-orange{
  --bs-btn-color: rgb(var(--bs-orange-rgb));
  --bs-btn-border-color: rgb(var(--bs-orange-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--bs-orange-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-orange-rgb));
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(var(--bs-orange-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-orange-rgb));
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(var(--bs-orange-rgb));
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(var(--bs-orange-rgb));
  --bs-gradient: none;
}
.btn-outline-dark-purple{
  --bs-btn-color: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-border-color: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(var(--bs-dark-purple-rgb));
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(var(--bs-dark-purple-rgb));
  --bs-gradient: none;
}